/* https://forum.vivaldi.net/topic/34672/auto-hide-bookmark-bar */
.mainbar{
  height: 44px !important;
  z-index: 5 !important;
}
.bookmark-bar {
  position: absolute !important;
  top: 44px !important;
  transition: transform 0.2s !important;
  width: 100% !important;
  /* height: 80px !important; */
  border-bottom-width: 4px  !important;
  border-style: hidden !important;
  z-index: 4; 
  transform: translateY(-83%)
}

.bookmark-bar:hover,
.bookmark-bar:focus-within,
.bookmark-bar:hover~.bookmark-bar,
.bookmark-bar:hover~#main .bookmark-bar {
  transition: transform 0.2s !important;
  transform: translateY(-0%)
}

.inner {
  top: 5px !important;
}

.panel {
  padding-top: 25px !important;
}

/*
.bookmark-bar-top .bookmark-bar {
  position: absolute !important;
  top: 44px;
  width: 100%;
  transition: transform 0.2s !important;
  height: 80px;
  border-bottom-width: 1px;
  border-style: hidden;
  z-index: -1; 
  transform: translateY(-80%)
}
 top: 44px;


.bookmark-bar-top .bookmark-bar:hover,
.bookmark-bar-top .bookmark-bar:focus-within,
.bookmark-bar-top .bookmark-bar:hover~.bookmark-bar,
.bookmark-bar-top .bookmark-bar:hover~#main .bookmark-bar {
  transform: translateY(-0%)
}


 #browser.tabs-top.address-top.bookmark-bar-top .mainbar,
#browser.tabs-top.address-bottom.bookmark-bar-bottom .mainbar,
#browser.tabs-top.address-bottom.bookmark-bar-top .mainbar,
#browser.tabs-bottom.address-top.bookmark-bar-top .mainbar,
#browser.tabs-bottom.address-bottom.bookmark-bar-bottom .mainbar,
#browser.tabs-left.address-top.bookmark-bar-top .mainbar,
#browser.tabs-left.address-bottom.bookmark-bar-bottom .mainbar,
#browser.tabs-right.address-top.bookmark-bar-top .mainbar,
#browser.tabs-right.address-bottom.bookmark-bar-bottom .mainbar {
  z-index: 5;
}

#browser.tabs-top.address-top.bookmark-bar-top .bookmark-bar,
#browser.tabs-top.address-bottom.bookmark-bar-bottom .bookmark-bar,
#browser.tabs-top.address-bottom.bookmark-bar-top .bookmark-bar,
#browser.tabs-bottom.address-top.bookmark-bar-top .bookmark-bar,
#browser.tabs-bottom.address-bottom.bookmark-bar-bottom .bookmark-bar,
#browser.tabs-left.address-top.bookmark-bar-top .bookmark-bar,
#browser.tabs-left.address-bottom.bookmark-bar-bottom .bookmark-bar,
#browser.tabs-right.address-top.bookmark-bar-top .bookmark-bar,
#browser.tabs-right.address-bottom.bookmark-bar-bottom .bookmark-bar {
  position: absolute !important;
  width: 100%;
  transition: transform 0.2s !important;
  z-index: 4;
}

#browser.tabs-top.address-top.bookmark-bar-top .bookmark-bar {
  top: 34px;
  transform: translateY(-100%);
}

#browser.tabs-top.address-top.bookmark-bar-top .bookmark-bar:hover,
#browser.tabs-top.address-top.bookmark-bar-top .bookmark-bar:focus-within,
#browser.tabs-top.address-top.bookmark-bar-top .mainbar:hover~.bookmark-bar,
#browser.tabs-top.address-top.bookmark-bar-top #header:hover~#main .bookmark-bar {
  transform: translateY(0);
}

#browser.tabs-top.address-bottom.bookmark-bar-bottom .bookmark-bar {
  bottom: 34px;
  transform: translateY(100%);
}

#browser.tabs-top.address-bottom.bookmark-bar-bottom .bookmark-bar:hover,
#browser.tabs-top.address-bottom.bookmark-bar-bottom .bookmark-bar:focus-within,
#browser.tabs-top.address-bottom.bookmark-bar-bottom .mainbar:hover~.bookmark-bar {
  transform: translateY(0);
}

#browser.tabs-top.address-bottom.bookmark-bar-top .bookmark-bar {
  top: 0;
  transform: translateY(-100%);
}

#browser.tabs-top.address-bottom.bookmark-bar-top .bookmark-bar:hover,
#browser.tabs-top.address-bottom.bookmark-bar-top .bookmark-bar:focus-within,
#browser.tabs-top.address-bottom.bookmark-bar-top #header:hover~#main .bookmark-bar {
  transform: translateY(0);
}

#browser.tabs-bottom.address-top.bookmark-bar-top .bookmark-bar {
  top: 34px;
  transform: translateY(-100%);
}

#browser.tabs-bottom.address-top.bookmark-bar-top .bookmark-bar:hover,
#browser.tabs-bottom.address-top.bookmark-bar-top .bookmark-bar:focus-within,
#browser.tabs-bottom.address-top.bookmark-bar-top .mainbar:hover~.bookmark-bar {
  transform: translateY(0);
}

#browser.tabs-bottom.address-bottom.bookmark-bar-bottom .bookmark-bar {
  bottom: 5px;
  transform: translateY(0);
}

#browser.tabs-bottom.address-bottom.bookmark-bar-bottom .bookmark-bar:hover,
#browser.tabs-bottom.address-bottom.bookmark-bar-bottom .bookmark-bar:focus-within,
#browser.tabs-bottom.address-bottom.bookmark-bar-bottom .mainbar:hover~.bookmark-bar {
  transform: translateY(-100%);
}

#browser.tabs-left.address-top.bookmark-bar-top .bookmark-bar {
  top: 34px;
  transform: translateY(-100%);
}

#browser.tabs-left.address-top.bookmark-bar-top .bookmark-bar:hover,
#browser.tabs-left.address-top.bookmark-bar-top .bookmark-bar:focus-within,
#browser.tabs-left.address-top.bookmark-bar-top .mainbar:hover~.bookmark-bar {
  transform: translateY(0);
}

#browser.tabs-left.address-bottom.bookmark-bar-bottom .bookmark-bar {
  bottom: 5px;
  transform: translateY(0);
}

#browser.tabs-left.address-bottom.bookmark-bar-bottom .bookmark-bar:hover,
#browser.tabs-left.address-bottom.bookmark-bar-bottom .bookmark-bar:focus-within,
#browser.tabs-left.address-bottom.bookmark-bar-bottom .mainbar:hover~.bookmark-bar {
  transform: translateY(-100%);
}

#browser.tabs-right.address-top.bookmark-bar-top .bookmark-bar {
  top: 34px;
  transform: translateY(-100%);
}

#browser.tabs-right.address-top.bookmark-bar-top .bookmark-bar:hover,
#browser.tabs-right.address-top.bookmark-bar-top .bookmark-bar:focus-within,
#browser.tabs-right.address-top.bookmark-bar-top .mainbar:hover~.bookmark-bar {
  transform: translateY(0);
}

#browser.tabs-right.address-bottom.bookmark-bar-bottom .bookmark-bar {
  bottom: 5px;
  transform: translateY(0);
}

#browser.tabs-right.address-bottom.bookmark-bar-bottom .bookmark-bar:hover,
#browser.tabs-right.address-bottom.bookmark-bar-bottom .bookmark-bar:focus-within,
#browser.tabs-right.address-bottom.bookmark-bar-bottom .mainbar:hover~.bookmark-bar {
  transform: translateY(-100%);
}

