/* .panels-container{
    width: 35px;
} */

/* #panels-container element.style {
    --duration: 0ms;
    transition: width var(--duration) cubic-bezier(1, 0.01, 0.25, 1.02);
    width: 107px;
} */
/* #panels-containe:hover,
#panels-containe:focus-within {
    width: 260px;
    transition: transform 2s 1s !important;
}  */

/* .panel-group {
    position: absolute;
    z-index: 3;
    height: 100%;
    transition: transform .5s .2s !important;
}

#panel-group:not(:hover) {
    transform: translateX(-100%);
    transition: transform 2s 1s !important;
}  */

/* 
#panels-container.left,
