#window-panel .vivaldi-tree .title.active {
    color: #009688
}


.tree-row.tree-row-selected.tree-row-selected--first.tree-row-selected--last {
    background-color: #00443e !important;
}


.win .vivaldi-tree .tree-item[data-lead] .tree-row.tree-row:not([data-nofocus]), .linux .vivaldi-tree .tree-item[data-lead] .tree-row.tree-row:not([data-nofocus]){
    background-color: #00443e !important;
}